<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Boogle</title>
    <link rel="stylesheet" href="/static/css/style2.css">
</head>
<div>
<div class="header-container">
    <div class="header-menu">
        <a class="type1">Bmail</a>
        <a class="type2">Boogle Images</a>
        <a class="type3">Boogle Apps</a>
    </div>
</div>
    <div class="page-container">
        <div class="logo"><img src="/static/img/boogle.png"> </div>
    </div>
</div>
<input class="type" type="text" placeholder="Search Boogle or type URL ">

<div class="button">
    <a class="square1">Boogle Search</a>
    <a class="square2">Boogle is feeling lucky!</a>
</div>
</html>