<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="My Fakebook">
    <meta name="keywords" content="me, hobbies, fakebook">
    <meta name="author" content="Alex Sosic">
    <title>Alex Sosic - FAKEBOOK</title>
    <link rel="stylesheet" href="/static/css/zadacastyle.css">
</head>
<body>
    <h1>FAKEBOOK</h1>
    Search: <input type="text" placeholder="Search by name">
    <br>

    <h2>Alex Sosic</h2>
    <img src="/static/img/Fakebook.jpg"width="400">
    <br>
    <button>Add a friend</button>
    <br>
    <p class="category"><strong>City:</strong> Kualalumpur</p>
    <p class="category"><strong>Age:</strong> 21 </p>
    <p class="category"><strong>Education :</strong> mag.oec.</p>
    <p class="category"><strong>FB Friends:</strong> 200+ </p>
    <p class="category"><strong>FB Enemies:</strong> 10 </p>
    <br>
    <h3>Free time hobies :</h3>
    <ul>
        <li>Sports</li>
        <li>Natrue</li>
        <li>Hanging out with friends and family</li>
    </ul>
</body>
</html>